// scss/_hero.scss

.hero {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4rem 2rem;
    position: relative;

    .hero-content {
        max-width: 750px;
        padding: 3rem;
        border-radius: 24px;
        @include glass-effect; // Caja glaseada gigante para el mensaje principal

        h2 {
            font-size: 2.8rem;
            font-weight: 800;
            line-height: 1.2;
            margin-bottom: 1.5rem;
            background: linear-gradient(to right, #ffffff, #c084fc);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        p {
            font-size: 1.2rem;
            color: $color-texto-secundario;
            font-weight: 300;
        }
    }
}